{% extends 'default.html' %}

{% block title %} Bulletin Board Registration {% endblock title %}

{% block header %}
    <h2> Регистрация </h2>
{% endblock header %}

{% block content %}

    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}

        <div style="margin: auto; width: 20%; border: 5px solid white; padding: 10px;">
            <div align="center">
                <p>{{ form.username.label_tag }}</p>
                <p>{{ form.username }}</p>
                <p>{{ form.email.label_tag }}</p>
                <p>{{ form.email }}</p>
                <p>{{ form.password1.label_tag }}</p>
                <p>{{ form.password1 }}</p>
                <p>{{ form.password2.label_tag }}</p>
                <p>{{ form.password2 }}</p>
                <input type="submit" value="Register">
                <p style="color:red;">{{ form.errors.password2 }}</p>
            </div>
        </div>

    </form>

{% endblock %}

{% block footer %} {% endblock footer %}