{% extends 'default.html' %}

{% block title %} Edit Article {% endblock title %}

{% block header %}
    <h2>Редактирование объявления</h2>
{% endblock header %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        {{ form.media }}
        <p>Укажите заголовок: {{ form.title }}</p>
        <p>Выберите категорию: {{ form.category }} и Автора: {{ form.author }}</p>
        {{ form.content }}
        <div align="right">
            <input type="submit" value="Обновить объявление">
        </div>
    </form>

{% endblock content %}

{% block footer %}
    <hr>
    <a href="{% url 'article_list' %}">К списку объявлений</a>
{% endblock footer %}