{% extends 'default.html' %}

{% block title %} Bulletin Board {% endblock title %}

{% block header %}

    <div align="right">
        {% if user.is_authenticated %}
            <div>
                Привет, <a href="{% url 'account_my_articles' %}">{{ user.username }}</a>!
            </div>
        {% else %}
             <div>
                 Вы не зарегистрированы!<a href="{% url 'sign-in' %}">Войти</a>
             </div>
        {% endif %}
    </div>

    <div align="center">
        <br>
        <a href="{% url 'article_add' %}">Добавить новое объявление</a>
    </div>

    {% if articles %}

    {% else %}
        <h2>No Articles yet...</h2>
    {% endif %}

{% endblock header %}

{% block content %}

    <div class="infinite-container">
        {% for article in articles %}
            <div class="infinite-item"
                 style="border-radius: 25px; border: 2px solid #73AD21; padding: 20px;
                 margin: 20px auto; width: 60%;">
                <h3>
                    <a href="{% url 'article_detail' article.id %}">{{ article.title }}</a>
                </h3>
                <p>
                    <small>
                        {{ article.author }} / {{ article.creation_date }} / {{ article.category }}
                    </small>
                </p>
                <p> {{ article.content|safe }} </p>
            </div>
        {% endfor %}
    </div>

    <div class="container">
        <div align="center">
            {% if is_paginated %}
                <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
                {% if page_obj.has_previous %}
                    <a href="?page=1">First</a>
                    <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
                {% endif %}

                <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a>{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">>>></a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock content %}

{% block footer %} {% endblock footer %}