{% extends 'default.html' %}

{% block title %} {{ article.title }} {% endblock title %}

{% block header %}
    <h2>{{ article.title }}</h2>
    <p>
        <small>{{ article.author }} / {{ article.creation_date }}</small>
    </p>
    <div align = 'right'>
        {% if user == article.author %}
            <a href="{% url 'article_delete' article.id %}">Удалить</a> &ensp;
            <a href="{% url 'article_update' article.id %}">Редактировать</a>
        {% else %}
            <a href="{% url 'user_response_add' a_id=article.id %}">Оставить отклик</a>
        {% endif %}
    </div>
{% endblock header %}

{% block content %}
    <p>{{ article.content|safe }}</p>
{% endblock content %}