{% extends 'account/account_base.html' %}

{% block title %} Outbox {% endblock title %}

{% block empty_list %}
    <h3>Пока вы не оставили ниодного отклика...</h3>
{% endblock empty_list %}

{% block item %}
    <h3>
        <a href="{% url 'user_response_detail' item.id %}">Мой отклик</a>
        на
        <a href="{% url 'article_detail' item.article.id %}">{{ item.article }}</a>
    </h3>
    <p>
        <small>Статус:
            {% if item.status %} Принят {% else %} Не принят {% endif %}
        </small>
    </p>
    <p>{{ item.text }}</p>
{% endblock item %}