{% extends 'account/account_base.html' %}

{% block title %} Inbox {% endblock title %}

{% block empty_list %}
    <h3>Пока нет откликов по вашим объявлениям...</h3>
{% endblock empty_list %}

{% block item %}
    <h3>
        <a href="{% url 'user_response_detail' item.id %}">Отклик</a>
        на мое
        <a href="{% url 'article_detail' item.article.id %}">{{ item.article }}</a>
    </h3>
    <p>
        <small>Статус:
            {% if item.status %} Принят {% else %} Не принят {% endif %}
        </small>
    </p>
    <p>{{ item.text }}</p>
    <div align="right">
        {% if not item.status %}
            <a href="{% url 'response_apply' item.id %}">Принять отклик</a> &ensp;
        {% endif %}
        <a href="{% url 'user_response_delete' item.id %}">Удалить</a>
    </div>
{% endblock item %}