{% extends 'default.html' %}

{% block title %} Outbox {% endblock title %}

{% block header %}

    <table width="100%">
        <tr>
            <td>
                <p>
                    <a href="{% url 'account_my_articles' %}">Мои объявления</a> &ensp;
                    <a href="{% url 'account_inbox' %}">Входящие отклики</a> &ensp;
                    <a href="{% url 'account_outbox' %}">Исходящие отклики</a>
                </p>
            </td>
            <td align="right">
                <p>
                    Вы вошли как {{ user.username }}
                    <a href="{% url 'sign-out' %}">Выйти</a>
                </p>
            </td>
        </tr>
    </table>

    <br>
    <table width="100%">
        <tr>
            <td>
                <a href="{% url 'article_list' %}">К списку объявлений</a>
            </td>
            <td align="right">
                <a href="{% url 'article_add' %}">Добавить новое объявление</a>
            </td>
        </tr>
    </table>

    {% if outbox_responses %}

    {% else %}
        <h2>No Responses yet...</h2>
    {% endif %}

{% endblock header %}

{% block content %}

<div class="infinite-container" style="background: linear-gradient(180deg, white, #C5DDE8); ">
    {% for article in outbox_responses %}
        <div class="infinite-item"
             style="background-color: #EECFBA; margin: auto; width: 60%; border: 5px solid white; padding: 10px;">
            <h3>
                <a href="{% url 'article_detail' article.id %}">{{ article.title }}</a>
            </h3>
            <p>
                <small>{{ article.author }} / {{ article.creation_date }}</small>
            </p>
            <p>{{ article.category|truncatechars:100 }}</p>
        </div>
    {% endfor %}
</div>

<div class="loading" style="display: none;">
    Loading...
</div>

{% endblock content %}