{% extends 'default.html' %}

{% block title %} {{ userresponse.title }} {% endblock title %}

{% block header %}
    <h2>
        Отклик на
        <a href="{% url 'article_detail' userresponse.article.id %}">{{ userresponse.article }}</a>
    </h2>
    <p>
        Статус: {% if userresponse.status %} Принят {% else %} Не принят {% endif %}
    </p>
    <div align = 'right'>
        {% if user == userresponse.author %}
            <a href="{% url 'user_response_delete' userresponse.id %}">Удалить</a>
        {% else %}
            {% if not userresponse.status %}
                <a href="{% url 'response_apply' userresponse.id %}">Принять отклик</a>
            {% endif %}
        {% endif %}
    </div>

{% endblock header %}

{% block content %}
    <p>{{ userresponse.text }}</p>
{% endblock content %}